{% extends 'layout/page.html.twig' %}
{% block content %}
    {% include 'layout/navigation.html.twig' %}
    <div class="top_title">
        <div class="row">
            <div class="large-6 columns hide-for-small-only">
                <a href="{{ WP.site_uri }}" class="top_title__link">
                    {% if ACF.get_field("logo") == "White" %}
                        <img src="{{ WP.stylesheet_url }}/assets/images/logo-white.png" alt="">
                    {% elseif ACF.get_field("logo") == "Black" %}
                        <img src="{{ WP.stylesheet_url }}/assets/images/logo-black.png" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="large-6 columns">
                <h1 class="top_title__heading">{{ Post.title }}</h1>
                <div class="top_title__content">
                    {{ Post.content | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="flags clearfix">
        <div class="flags__grid">
            {% for flag in ACF.get_field("flags") %}
                <span class="has-tip">
                    <img src="{{ flag.image }}" class="flags__grid__image">
                </span>
            {% endfor %}
        </div>
        <div class="flags__partners">
            {% for partner in ACF.get_field("partners") %}
                <img src="{{ partner.image }}" class="flags__partners__image">
            {% endfor %}
        </div>
    </div>
{% endblock %}