<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if Post.title %}{{ Post.title }}{% else %}Concentric Advisor - Analysis. Strategy. Action{% endif %}</title>
    <link rel="shortcut icon" href="{{ WP.site_uri }}/wp-content/uploads/2016/03/Favicon.jpg" />
    {{ WP.header | raw }}
</head>
<body class="{{ WP.body_class() }}">

<div class="wrapper clearfix"
    {% if hide_slides is not defined or not hide_slides %}
        {% if slide is defined and slide.image is defined %}
            style="background-image:url({{ ACF.get_field("large_background") }})"
        {% elseif large_background is defined %}
            style="background-image:url({{ large_background | raw }})"
        {% elseif ACF.get_field("large_background") %}
            style="background-image:url({{ ACF.get_field("large_background") }})"
        {% endif %}
    {% endif %}
    data-sticky-container
>
    <div data-sticky data-sticky data-top-anchor="try" data-sticky-on="small">
        <div class="title-bar text-right" data-responsive-toggle="mobile_menu" data-hide-for="medium">
            <a href="{{ WP.site_uri }}" class="float-left text-left title-bar__link">
                <img src="{{ ACF.get_field("black_logo", "options") }}" class="title-bar__link__image">
            </a>
            <button class="menu-icon" type="button" data-toggle></button>
        </div>
        {{
            WP.nav_menu({
                'container_class': 'navigation',
                'container_id': 'mobile_menu',
                'menu_class': 'menu hide-for-medium vertical navigation__list',
                'depth': 1
            }) | raw
        }}
    </div>
    {% include 'layout/mobile-image.html.twig' %}
    {% block content %}
    {% endblock %}
    {% include 'layout/footer.html.twig' %}
</div>

{{ WP.footer | raw }}
{#
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/what-input/what-input.js"></script>
<script src="bower_components/foundation-sites/dist/foundation.js"></script>
<script src="js/app.js"></script>
#}
</body>
</html>